*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    background-color: rgb(101, 94, 94);
    color: white;
    font-family: 'Oxanium', sans-serif;
    font-size: 18px;
}

/* ESTO ES PARA LAS PAGINAS DE LOS JUEGOS */
video {
    width: 100%;
    height: auto; /* Mantiene la proporción del video */
  }

  /* FUENTE DE TITULO DE CALL OF DUTY */
.overlay-text h1 {
    font-size: 5rem; /* Ajusta el tamaño de fuente según tus necesidades */
    font-family: "Anton", sans-serif;    
    color: white; /* Asegúrate de que el color del texto sea visible sobre el video */
    text-align: center; /* Centra el texto si es necesario */
    position: absolute; 
    top: 50%; /* Ajusta la posición vertical */
    left: 50%; /* Ajusta la posición horizontal */
    transform: translate(-50%, -50%); /* Centra el texto */
}

/* FUENTE DE TITULO DE COUNTERSTRIKE */
.overlay-text1 h1 {
  font-size: 5rem; /* Ajusta el tamaño de fuente según tus necesidades */
  font-family: 'Bruno Ace', sans-serif;
  color: rgb(161, 0, 0); /* Asegúrate de que el color del texto sea visible sobre el video */
  text-align: center; /* Centra el texto si es necesario */
  position: absolute; 
  top: 50%; /* Ajusta la posición vertical */
  left: 42%; /* Ajusta la posición horizontal */
  transform: translate(-50%, -50%); /* Centra el texto */
}

/* ESTO CONTIENE LA IMAGEN DEL TITULO */
.counter-strike-title {
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  text-align: center;  /* Centra el texto en la página */
}

.counter-icon {
  vertical-align: middle;  /* Alinea la imagen con el texto */
  display: inline-block;  /* Hace que la imagen se comporte como un elemento en línea */
}
.color6{
    color: #FF5A2C;
}

.letrapequeña{
    font-size: 0.5em;
    vertical-align: super; 
    color: white;
}
.pequeñaletra{
    font-size: 1.3rem;
}

.contenedor{
    width: 100%;
    display: flex;    
}
/* EL RECUADRO */
.contenedor figure{
    position: relative;
    height: 250px;
    width: 350px;
    overflow: hidden;
    border-radius: 6px;
    box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.50);

}
.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-in-out;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11,183,123,0.6);
    transition: all 500ms ease-in-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h4{
    margin-top: 10px;
    margin-bottom: 15px;
}
.contenedor figure:hover > img{
    transform: scale(1.3);
}
.contenedor figure .capa h4{
    color: #fff;
    font-weight: 400;
    margin-bottom: 0;
    transition: all 500ms ease-in-out;
    margin-top: 30px;
}
.contenedor figure .capa p{
    color: #fff;
    font-size: 15px;
    line-height: 1.5;
    width: 100%;
    max-width: 220px;
    margin: auto;
}

/* LISTA PERO EN CUADRADO */
ul {
    list-style-type: square; /* Cambia el bullet a cuadrado */
    padding-left: 20px; /* Añade un poco de espacio a la izquierda para que los puntos sean visibles */
}

/* ESTO SON LOS SUBTITULOS DE CADA PAGINA */
.fuentetitulo{
    font-family: 'Black Ops One', sans-serif;
    font-size: 35px;
}

/* TODO ESTO ES EL ACCORDION */
.accordion-item {
    background-color: transparent; /* Fondo transparente */
    border: 1px solid white;       /* Borde blanco alrededor del bloque */
    color: white;          
  }
  
  /* Botón del encabezado del acordeón (cuando está cerrado) */
  .accordion-button {
    background-color: transparent; /* Fondo transparente en el botón */
    color: white;                 
    border-bottom: 1px solid white; /* Línea blanca debajo del botón */
  }
  
  /* Remueve el contorno azul predeterminado al hacer foco en el botón */
  .accordion-button:focus {
    box-shadow: none; /* Sin sombra al hacer clic */
  }
  
  /* Botón del acordeón cuando está expandido (abierto) */
  .accordion-button:not(.collapsed) {
    background-color: rgba(255, 255, 255, 0.05); /* Fondo transparente */
    color: white; 
  }
  
  /* Contenido del acordeón  */
  .accordion-body {
    background-color: transparent; /* Sin fondo */
    color: white; 
  }
  
  /* Lista de requisito */
  .requisitos {
    list-style-type: square; /* Viñetas cuadradas */
    padding-left: 20px;      /* Espaciado interno a la izquierda */
    color: white;
  }
  
  /* Para resaltar el texto dentro de <strong> en la lista */
  .requisitos strong {
    color: #a3f892; /* Dorado para los subtítulos (puedes cambiarlo) */
  }


  /* TABLAS FINALES*/

  /* .comparativa-ediciones ESTO ES DEL CALLOFDUTY
  .comparativa-ediciones1 ESTO ES DEL COUNTERSTRIKE
  .comparativa-ediciones2 ESTO ES DEL GTAV
  .comparitiva-ediciones3 ESTO ES DEL UNCHARTED
  .comparitiva-ediciones4 ESTO ES DEL STREETFIGHTER
  .comparitiva-ediciones5 ESTO ES DEL MORTALKOMBAT*/

  /* Contenedor de la tabla */
.comparativa-ediciones, .comparativa-ediciones1,.comparativa-ediciones2, .comparativa-ediciones3, .comparativa-ediciones4, .comparativa-ediciones5 {
    max-width: 100%;
    overflow-x: auto;
    padding: 1rem;
  }
  
  /* Encabezado de la tabla */
  .comparativa-ediciones thead th, .comparativa-ediciones1 thead th,.comparativa-ediciones2 thead th, .comparativa-ediciones3 thead th, 
  .comparativa-ediciones4 thead th, .comparativa-ediciones5 thead th {
    background-color: #1a1a1a; /* Fondo más oscuro para la cabecera */
    padding: 1rem;
    text-align: left;
    border: 1px solid #333;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
  
  /* Filas del cuerpo alternando colores */
  .comparativa-ediciones tbody tr:nth-child(even), .comparativa-ediciones1 tbody tr:nth-child(even),.comparativa-ediciones2 tbody tr:nth-child(even), 
  .comparativa-ediciones3 tbody tr:nth-child(even), .comparativa-ediciones4 tbody tr:nth-child(even), .comparativa-ediciones5 tbody tr:nth-child(even) {
    background-color: #00000080; /* Filas pares más oscuras */
  }
  
  /* Celdas del cuerpo */
  .comparativa-ediciones td, .comparativa-ediciones1 td,.comparativa-ediciones2 td, .comparativa-ediciones3 td,
  .comparativa-ediciones4 td, .comparativa-ediciones5 td {
    padding: 0.75rem;
    text-align: center;
    border: 1px solid #222;
  }
  
  /* Primera columna alineada a la izquierda */
  .comparativa-ediciones td:first-child, .comparativa-ediciones1 td:first-child,.comparativa-ediciones2 td:first-child, .comparativa-ediciones3 td:first-child,
  .comparativa-ediciones4 td:first-child, .comparativa-ediciones5 td:first-child {
    text-align: left;
  }
  .comparativa-ediciones table {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/CallofDuty/fondo.png'); 
    background-size: cover;      /* Ajusta la imagen al tamaño de la tabla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    font-size: 18px; 
    font-weight: bold; /*ESTA EN NEGRITA */
  }  
  
  .comparativa-ediciones1 table {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/Counterstrike/fondo.jpg'); 
    background-size: cover;      /* Ajusta la imagen al tamaño de la tabla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    font-size: 18px; 
    font-weight: bold; /*ESTA EN NEGRITA */
  }

  .comparativa-ediciones2 table {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/GTAV/fondo.png'); 
    background-size: cover;      /* Ajusta la imagen al tamaño de la tabla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    font-size: 18px; 
    font-weight: bold; /*ESTA EN NEGRITA */
  }  
  
  .comparativa-ediciones3 table {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/Uncharted4/fondo.png'); 
    background-size: cover;      /* Ajusta la imagen al tamaño de la tabla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    font-size: 18px; 
    font-weight: bold; /*ESTA EN NEGRITA */
  }

  .comparativa-ediciones4 table {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/Streetfighter/fondo.jpg'); 
    background-size: cover;      /* Ajusta la imagen al tamaño de la tabla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    font-size: 18px; 
    font-weight: bold; /*ESTA EN NEGRITA */
  }  
  .comparativa-ediciones5 table {
    width: 100%;
    border-collapse: collapse;
    background-image: url('../img/MortalKombat/fondo.png'); 
    background-size: cover;      /* Ajusta la imagen al tamaño de la tabla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat;
    font-size: 18px; 
    font-weight: bold; /*ESTA EN NEGRITA */
  }

  @media (max-width: 768px) {
    .comparativa-ediciones table {
      font-size: 0.85rem;
    }
  }